.aboutContainer {
    text-align: center;
    height: 100%;
    background-color: black;
    background-image: url('./egg6.jpg');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText {
    width: 60%;
    height: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.aboutTextText {
    font-size: 36px;
    color: white;
    font-weight: 700;
}

.aboutLocation {
    padding: 5px;
    font-size: 14px;
    color: white;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.locations {
    text-align: center;
}

.aboutTime {
    font-size: 14px;
    color: white;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.times {
    text-align: center;
}