.contactsContainer {
    text-align: center;
    height: 100%;
    background-color: black;
    background-image: url('./egg4.jpg');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
}

.contactsText {
    background: rgba(0, 0, 0, 0.7);
    width: 40%;
    padding: 2%;
    margin-top: 3%;
    height: 90%;
    overflow: auto;
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
}

.contactsTitle {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 48px
}

.phoneAndEmail {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

.leaveAMessage {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    width: 100%;
}

.name,
.email {
    width: 47%;
    height: 30px;
}

.message {
    width: 97%;
    height: 80%;
}

.name,
.email,
.message {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 0;
}