.recipesContainer {
    text-align: center;
    height: 100%;
    background-color: black;
    background-image: url('./egg6.jpg');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.recipesText {
    background: rgba(0, 0, 0, 0.7);
    width: 40%;
    padding: 1%;
    margin-top: 3%;
    height: 90%;
    overflow: auto;
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recipesText::-webkit-scrollbar {
    display: none;
}
.recipesTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: white;
}

.actualRecipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.recipeImage {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

[class = "recipeImage 0"] {
    background-image: url('./egg-bacon-pancake.jpg');
    background-size: 100%;
    background-position: center;
}

[class = "recipeImage 1"] {
    background-image: url('./soft-boiled-eggs.jpg');
    background-size: 100%;
}

[class = "recipeImage 2"] {
    background-image: url('./fried-egg-noodles.jpg');
    background-size: 100%;
}

[class = "recipeImage 3"] {
    background-image: url('./egg-and-chips.jpg');
    background-size: 100%;
}

[class = "recipeImage 4"] {
    background-image: url('./egg-beans-toast.jpg');
    background-size: 130%;
}

[class = "recipeImage 5"] {
    background-image: url('./eggs-benedict.jpg');
    background-size: 100%;
}

.recipeDesc0,
.recipeDesc1,
.recipeDesc2,
.recipeDesc3,
.recipeDesc4,
.recipeDesc5 {
    width: 200px;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}