:root {
    --background-colour: #fefae0;
    --header-colour: #ccd5ae;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: var(--background-colour);
    height: 100vh;
}

.header {
    background-color: var(--header-colour);
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText {
    font-family: 'Smooch', cursive;
    font-size: 69px;
    background: url('./logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
}

.tabs {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-colour);
}

.about,
.recipes,
.contact {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 5px;
}
.about {
    border-bottom: 3px solid black;
    cursor: pointer;
}

.recipes,
.contact {
    cursor: pointer;
    border-bottom: 3px solid var(--header-colour);
}

.recipesContainer,
.contactContainer {
    display: none;
    text-align: center;
}
