:root {
    --background-colour: yellow;
}
     
    body {
    background-color: var(--background-colour);
    height: 100vh;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.tabs {
    display: flex;
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    border: 1px solid black;
}

.recipes,
.contact {
    border: 1px solid var(--background-colour);
}

.recipesText,
.contactText {
    display: none;
}